{% extends 'base.html' %}
{% block header %}
<h1>Test list</h1>
{% endblock %}


{% block content %}

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Level</th>
        <th></th>
    </tr>
    </thead>
{% for test in tests %}

    <tr>
        <td>
            <img class="rounded-circle p-1 m-1" width="100" height="100"  src="{{ test.image.url }}">

        </td>
    <td>{{ test.title }}</td>
    <td>{{ test.description }}</td>
    <td>{{ test.level }}</td>
    <td>START</td>


        </tr>
{% endfor %}
</table>
{% include 'paginator.html' %}
{% endblock %}