{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
<h1>Edit user</h1>
{% endblock %}


{% block content %}

          <form method="post" enctype="multipart/form-data">
           <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">
            </div>

        </div>
        {% csrf_token %}
        {{form|crispy}}

      <input class="btn btn-info" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>

    </form>
{% endblock %}