{% extends 'base.html' %}
{% block header %}
<h1>Leaderboard</h1>
{% endblock %}


{% block content %}

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th></th>
        <th>Full name</th>
        <th>Rating</th>
    </tr>
    </thead>
{% for account in accounts %}

    <tr>
    <td>{{ account.id }}</td>
    <td>
            <img class="rounded-circle p-1 m-1" width="100" height="100"  src="{{ account.image.url }}">

        </td>
    <td>{{ account.get_full_name }}</td>
    <td>{{ account.rating }}</td>


        </tr>
{% endfor %}
</table>
{% include 'paginator.html' %}
{% endblock %}