<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block title %}
    <title>TESTIFY</title>
    {% endblock %}
</head>




<body>


<nav class="navbar navbar-expand-lg navbar-dark p-3 mb-2 bg-dark text-white">
  <div class="container">
  <a class="navbar-brand" href="{% url 'core:index' %}">TESTIFY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  aria-pressed="true">
    <span class="navbar-toggler-icon"></span>
  </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">

          {% url 'testify:tests_list' as top_path %}
          {% if top_path == request.path %}
          <a class="nav-link active"  href="{% url 'testify:tests_list' %}">Tests<span class="sr-only">(current)</span></a>
          {% else%}
          <a class="nav-link "  href="{% url 'testify:tests_list' %}">Tests<span class="sr-only">(current)</span></a>
          {% endif %}
      </li>

        <li class="nav-item ">

          {% url 'accounts:account_list' as top_path %}
          {% if top_path == request.path %}
          <a class="nav-link active"  href="{% url 'accounts:account_list' %}">Leaderboard<span class="sr-only">(current)</span></a>
          {% else%}
          <a class="nav-link "  href="{% url 'accounts:account_list' %}">Leaderboard<span class="sr-only">(current)</span></a>
          {% endif %}
      </li>

</ul>
     </div>


      <ul class="navbar-nav ">
          {% if user.is_authenticated%}
          <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:account' %}">Account ({{user.username}})</a>
        </li>
<!--             <div class="media">-->
<!--            <div class="img-circle.vert">-->
<!--    <img class="rounded-circle p-1 mb-0 " width="40" height="40" src="{{ user.profile.image.url }}" >-->
<!--  </div>-->
<!--  </div>-->
              <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
      </li>

        {% else%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>

              {% endif %}
    </ul>

  </div>
</nav>
    <div class="container">
        {% include 'includes/messages.html' %}


        <div class=" border-0 rounded-bottom text-center h-3 p-2 mb-2 bg-secondary text-white shadow-lg p-3 mb-5 rounded">
            {% block header %}
            <h1>
                Welcome to TESTIFY!
            </h1>

        {% endblock %}

    </div>





          {% block content %}

          {% endblock %}



    </div>

</body>
</html>